extends ../layouts/application.pug

block header
  +pageHeader('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'users', 'firstName', errors)(type="text")
    +input(user, 'users', 'lastName', errors)(type="text")
    +input(user, 'users', 'email', errors)(type="text")
    +input(user, 'users', 'password', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
