extends ../layouts/application.pug

block header
  = t('views.statuses.edit.title')

block content
  +formFor()(action=`/statuses/${status.id}` method='post')
    +input(status, 'statuses', 'name', errors)(type="text")
    +buttonTo(`/statuses/${status.id}`, 'patch')(class="btn btn-primary" value=t('views.statuses.edit.submit'))

