extends ../layouts/application.pug

block header
  +pageHeader('views.labels.new.title')

block content
  +formFor()(action=route('labels') method='post')
    +input(label, 'labels', 'name', errors)(type="text")
    +submit(label)(value=t('views.labels.new.submit'))

